.card {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 10rem;
  align-items: center;
  color: rgb(21, 19, 19);
  font-weight: 500;
  background-color: rgb(255, 249, 249);
}

